body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #110246;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    background-color: #5dd30e;
    border: 1px solid #090547;
    border-radius: 8px;
    padding: 20px;
    flex: 0 1 30%; /* Adjust the width of cards for desktop */
    margin-bottom: 20px;
  }
  
  /* Responsive styles for tablet */
  @media (max-width: 768px) {
    .card {
      flex: 0 1 48%; /* Adjust the width of cards for tablet */
    }
  }
  
  /* Responsive styles for mobile */
  @media (max-width: 480px) {
    .card {
      flex: 0 1 100%; /* Display cards in a single column for mobile */
    }
  }
  